* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-family: "Platypi" , sans-serif;
  font-size: 62.5%;
}

main {
  max-width: 32rem;
  margin-inline: auto;
  padding: 5.6rem 4rem;
  box-sizing: content-box;
  gap: 3.2rem;
}

img {
  width: 80%;
  margin-block: 3.2rem;
}

button {
  font-family: "Source Serif 4 ";
  background-color: #a54328;
  color: #fff;
  border: none;
  border-radius: .6rem;
  padding: .8rem 1.2rem;
  margin-top: 2.4rem;
  font-weight: 800;
  font-size: 1.7rem;
  gap: 2.4rem;
}

button:hover {
  background-color: #7e301a;
}

body {
  color: #a54328;
  font-size: 1.6rem;
}

h1, h2 {
  font-size: 2.8rem;
  line-height: 3.6rem;
}

h1 {
  margin-top: 3.2rem;
}

h2 {
  margin-bottom: 3.2rem;
  margin-top: 3.2rem;
}

p, li, strong {
  font-size: 1.4rem;
  line-height: 1.8rem;
}

ul, ol {
  padding-left: 2.4rem;
  margin-bottom: 1.2rem;
}

ul {
  margin-bottom: 3.2rem;
}

@media (min-width: 1120px) {
  main {
    display: flex;
    flex-direction: row;
    max-width: fit-content;
    gap: 16rem;
  }

.recipe {
  max-width: 55rem;
}

.ingredients {
  max-width: 52.5rem;
}

h1, h2 {
  font-size: 4rem;
  line-height: 5rem;
  
}

p, li, strong {
  font-size: 2rem;
  line-height: 2.5rem;
}

button {
  padding: 1rem 2rem;
  font-size: 1.7rem;
}

}

